@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #000000;
  --color-secondary: #0a0f1a;
  --color-accent: #3b82f6; /* Blue */
  --color-accent-hover: #2563eb;
  --color-text-main: #ffffff;
  --color-text-muted: #94a3b8;
  --color-border: #1e293b;
}

@layer base {
  body {
    @apply bg-[var(--color-primary)] text-[var(--color-text-main)] font-sans antialiased;
  }
}
